 

 <div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <thead>
                            <tr>
                                <th>title</th>
                                <th>genre</th>
                                <th>Published_date</th>
                                <th>author</th>

                            </tr>
                        </thead>
   
                        {% for s in form %}
                        <tr>
                            <td>{{forloop_counter}}</td>
                            <td>{{s.title}}</td>
                            <td>{{s.genre}}</td>
                            <td>{{s.Published_date}}</td>
                            <td>{{s.author}}</td>

                        </tr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>