 

 <div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="table">
                        <thead>
                            <tr>
                                <th>user_name</th>
                                <th>book</th>
                                <th>borrow_date</th>
                                <th>return_date</th>

                            </tr>
                        </thead>
   
                        {% for s in form %}
                        <tr>
                            <td>{{forloop_counter}}</td>
                            <td>{{s.user_name}}</td>
                            <td>{{s.book}}</td>
                            <td>{{s.borrow_date}}</td>
                            <td>{{s.return_date}}</td>

                        </tr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>